=form_for :sheet, url: sheet_path(@sheet.id), method: :patch do |f|
  -if @sheet.errors.any?
    %div#errorExplanation
      %h2 
        You need to fix 
        ="#{@sheet.errors.count} "
        =pluralize(@sheet.errors.count, "error")
        before I can take this.
      %ul
        -@sheet.errors.full_messages.each do |m|
          %li
            =m

        

  %p
    =f.label :name
    =f.text_field :name
  %p
    =f.label :description
    =f.text_area :description

  %p
    =f.label :high_concept
    =f.text_field :high_concept
  %p
    =f.label :trouble
    =f.text_field :trouble
  %p
    =f.label :aspect1
    =f.text_field :aspect1
  %p
    =f.label :aspect2
    =f.text_field :aspect2
  %p
    =f.label :aspect3
    =f.text_field :aspect3


  %ul
    %li
      =f.label :careful
      =f.number_field :careful
    %li
      =f.label :clever
      =f.number_field :clever
    %li
      =f.label :flashy
      =f.number_field :flashy
    %li
      =f.label :forceful
      =f.number_field :forceful
    %li
      =f.label :quicky
      =f.number_field :quick
    %li
      =f.label :sneaky
      =f.number_field :sneaky

  %p
    =f.submit
