%h1 Fate Sheets

<ul>
-@sheets.sort {|a,b| a.name.downcase <=> b.name.downcase} .each do |s|
  %li
    =link_to "#{s.name}", controller: "sheets", action: "show", id: s.id
</ul>

=link_to "New Sheet", new_sheet_path
