=link_to "back", controller: "sheets", action: "index"
<br/>
=link_to "Edit", edit_sheet_path(@sheet)
=link_to "Delete", sheet_path(@sheet), method: :delete, data: {confirm: "Confirm deletion:"}

%h1
  =@sheet.name
%p
  =@sheet.description

%ul#aspects
  %li
    =@sheet.high_concept
  %li
    =@sheet.trouble
  %li
    =@sheet.aspect1
  %li
    =@sheet.aspect2
  %li
    =@sheet.aspect3

%ul#approaches
  %li
    =@sheet.careful
  %li
    =@sheet.clever
  %li
    =@sheet.flashy
  %li
    =@sheet.forceful
  %li
    =@sheet.quick
  %li
    =@sheet.sneaky


